#gauche {
    /*-fx-background-color: blue;*/
    -fx-background-image: url("../images/chevalier.png");
    /*background-image:;*/
}

#droite {
    -fx-background-color: red;
}

#bas {
    -fx-background-color: black;
}